---
title: My Rad Blog
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
  </head>
  <body>
    {% block content %}
  <article>
    <h1>halla dette er {{ title }}</h1>
    {{ content | safe }}
  </article>
{% endblock %}
  </body>
</html>
