---
layout: base.njk
---
<h1>My repos</h1>
<ul>

{% for item in gitrepo %}
<li><a href="../gitrepo/{{item.name | slug}}">{{item.name}}</a></li>

<ul>
  {% for key, value in item %}
      <li>{{ key }}: {{ value }}</li>
  {% endfor %}
</ul>

{% else %}
  <li>This would display if the 'item' collection were empty</li>
{% endfor %}
</ul>
